version: 2
dependencies:
  pre:
    - echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" >> ~/.npmrc

jobs:
  build:
    working_directory: ~/cfn-lint
    docker:
      - image: circleci/node:4.8.2
    steps:
      - checkout
      - run:
          name: update-npm
          command: 'sudo npm install -g npm@latest'
      - restore_cache:
          key: dependency-cache-{{ checksum "package.json" }}
      - run:
          name: run npm install
          command: npm install
      - save_cache:
          key: dependency-cache-{{ checksum "package.json" }}
          paths:
            - ./node_modules
      - run:
          name: Check all required dependencies exist
          command: ./node_modules/.bin/dependency-check package.json --no-dev
      - run:
          name: test
          command: npm test
      - run:
          name: compatibility test setup
          command: bash test_compatibility_setup.sh
      - restore_cache:
          key: compatibility-test-cache-{{ checksum "nodes_available.log" }}
      - run:
          name: compatibility test environment cache generation
          command: bash test_compatibility_cache.sh
      - save_cache:
          key: compatibility-test-cache-{{ checksum "nodes_available.log" }}
          paths:
            - ~/.envirius/envs/
      - run:
          name: compatibility test
          command: bash test_compatibility.sh
      - run:
          name: package for debug
          command: npm pack
      - store_artifacts:
          path: cfn-lint-0.0.0.tgz
      - persist_to_workspace:
          root: ~/cfn-lint
          paths:
            - "*"

  deploy:
    working_directory: ~/cfn-lint
    docker:
      - image: circleci/node:4.8.2
    steps:
      - attach_workspace:
          at: ~/cfn-lint
      - run:
          name: Write NPM Token to ~/.npmrc
          command: echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" >> ~/.npmrc
      - run:
          name: Install dot-json package
          command: npm install dot-json
      - run:
          name: Write version to package.json
          command: node_modules/.bin/dot-json package.json version ${CIRCLE_TAG:1}
      - run:
          name: Publish to NPM
          command: npm publish

workflows:
  version: 2
  main:
    jobs:
      - build:
          filters:
            tags:
              only: /.*/    # Build for all branches and all tags
      - deploy:
          filters:
            tags:
              only: /v[0-9]+(\.[0-9]+)*/  # Run if version tag supplied
            branches:
              ignore: /.*/  # Do not run on branch pushes
          requires:
            - build
